# Project information
site_name: 'Documentation'
site_description: 'PayCore.io public documentation'
site_author: 'PayCore.io (c)'
site_url: 'https://docs.paycore.io/'

# Repository
#repo_name: 'paycoreio/docs'
#repo_url: 'https://github.com/paycoreio/docs/'

# Copyright
copyright: '© 2016-2048 PayCore.io<sup>®</sup>. All Rights Reserved.'

# Configuration
theme:
  name: 'material'
  custom_dir: 'theme'
  favicon: 'images/favicon.ico'
  logo:
    icon: 'import_contacts'
  palette:
    primary: 'indigo'
    accent: 'indigo'
  feature:
    tabs: true
  font:
    text: Roboto
    code: Roboto Mono    

# Customization
extra:
  social:
    - type: 'facebook'
      link: 'https://facebook.com/paycore.io/'
    - type: 'twitter'
      link: 'https://twitter.com/paycoreio'
    - type: 'linkedin'
      link: 'https://www.linkedin.com/company/paycore/'
    - type: 'github'
      link: 'https://github.com/paycoreio'
extra_css:
  - extra.css
#extra_javascript:
  #- 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
  #- 'https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js'
  #- 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'
  #- 'https://cdnjs.cloudflare.com/ajax/libs/js-sequence-diagrams/1.0.6/sequence-diagram-min.js'
  #- 'https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.6.5/flowchart.min.js'

# Google Analytics
google_analytics:
  - 'UA-72023338-4'
  - 'auto'

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      hide_protocol: true
      repo_url_shortener: true
      repo_url_shorthand: true
      user: paycoreio
      repo: docs
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences: 
        - name: flow
          class: uml-flowchart
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: sequence
          class: uml-sequence-diagram
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.details

# Navigation
nav:
- Getting started:
    - Introduction: index.md
    - Platform overview: getting-started/platform-overview.md
    - Setting up account: getting-started/setting-up-account.md
    - First payment & payout: getting-started/first-payment.md
    - Play with API: getting-started/play-with-api.md
    - FAQ: getting-started/faq.md
    - Glossary: getting-started/glossary.md
- Products:
    - Overview: products/index.md
    - Dashboard: products/dashboard/index.md
    - Account:
        - Overview: products/account/index.md
        - User Account: products/account/user-account.md
        - Security: products/account/security.md
        - Access Control: products/account/access-control.md
        - Customers: products/account/customers.md
        - Activity Log: products/account/activity-log.md
    - Provider Hub: 
        - Introduction: products/provider-hub/index.md
        - Basic Concepts: products/provider-hub/basic-concepts.md
        - Accounts Hierarchy: products/provider-hub/accounts-hierarchy.md
        - Managing Accounts: products/provider-hub/managing-accounts.md
    - Commerce:
        - Overview: products/commerce/index.md
        - Basic Concepts: products/commerce/basic-concepts.md
        - Commerce Accounts: products/commerce/commerce-account.md
        #- Commerce Schemes: products/commerce/commerce-scheme.md
        - Currency Accounts: products/commerce/currency-account.md
        - Managing Payments: products/commerce/managing-payments.md
        - Managing Payouts: products/commerce/managing-payouts.md
        - Payment Invoice: products/commerce/payment-invoice.md
        - Payout Invoice: products/commerce/payout-invoice.md
        #- Calculating Fees: products/commerce/calculating-fees.md
    - Payment Gateway:
        - Overview: products/payment-gateway/index.md
        - Basic Concepts: products/payment-gateway/basic-concepts.md
        - Managing Payments: products/payment-gateway/managing-payments.md
        - Managing Routing: products/payment-gateway/managing-routing.md
        - Payment Workflow: products/payment-gateway/payment-workflow.md
        - Payment Request Workflow: products/payment-gateway/payment-request-workflow.md
    - Payout Gateway:
        - Overview: products/payout-gateway/index.md
        - Basic Concepts: products/payout-gateway/basic-concepts.md
        - Managing Payouts: products/payout-gateway/managing-payouts.md
        - Managing Routing: products/payout-gateway/managing-routing.md
        - Payout Workflow: products/payout-gateway/payout-workflow.md
        - Payout Request Workflow: products/payout-gateway/payout-request-workflow.md
    - Hosted Payment Page:
        - Introduction: products/hpp/index.md
        #- Features: products/hpp/features.md
        - Quickstart: products/hpp/quickstart.md
        - Integration Overview: products/hpp/integration-overview.md
        - Full Reference: products/hpp/reference.md
        - Pages & Samples: products/hpp/samples.md
        #- Integration Methods: products/hpp/integration-methods.md
        #- Customization: products/hpp/customization.md
        - Troubleshoot: products/hpp/troubleshoot.md
        #- Sandbox: products/hpp/sandbox.md
        #- FAQ: products/hpp/faq.md
        #- Self-hosted payment page: products/hpp/self-hpp.md        
    #- Ledger: products/ledger/index.md        
    #- Batch Payouts: products/batch-payouts/index.md
    - FX Rates:
        - Overview: products/fx-rates/index.md
        - How To: products/fx-rates/how-to.md
    #- Ledger: 
    #    - Overview: products/ledger/index.md        
    #- Batch Payouts: 
    #    - Overview: products/batch-payouts/index.md
    #- Merchant Portal:
    #    - Overview: products/merchant-portal/index.md
    - Analytics:
        - Overview: products/analytics/index.md
        - Getting Started: products/analytics/getting-started.md
        - Managing Queries: products/analytics/managing-queries.md
        - Managing Dashboards: products/analytics/managing-dashboards.md
        - Managing Alerts: products/analytics/managing-alerts.md
        - Visualizations: products/analytics/visualizations.md
        - FAQ: products/analytics/faq.md
- Integration: 
    - Integrate with PayCore.io: integration/index.md
    - Accept Payments: integration/accept-payments.md
    - Make Payouts: integration/make-payouts.md
    - API References: integration/api-references.md
    - SDKs:
        - Overview: integration/sdks.md
        - PublicApiClient.js: integration/public-api-client-js.md
        - Postman Collections: integration/postman-collections.md
    - Callbacks: integration/callbacks.md
    - Security:
        - Security Recommendations: integration/security-recommendations.md
        - PCI Compliance: integration/pci-dss-overview.md
    - Testing: integration/tesing.md
    - Public IPs: integration/ips.md
- Connectors:
      - Overview: connectors/index.md
      - Test: connectors/test/index.md
      - Manual: connectors/manual/index.md
      - 123x: connectors/123x/index.md
      - 4bill: connectors/4bill/index.md
      - AdvCash: connectors/advcash/index.md
      - AnyCash: connectors/anycash/index.md
      #- AustralPay: connectors/australpay/index.md
      - CardPay: connectors/cardpay/index.md
      - Certus Finance: connectors/certusfinance/index.md
      - CoinGate: connectors/coingate/index.md
      #- CoinPayments:connectors/coinpayments/index.md
      - dLocal: connectors/dlocal/index.md
      - EasyBits.io: connectors/easybits/index.md
      #- Enfins: connectors/enfins/index.md
      - FlashPay: connectors/flashpay/index.md
      - Fondy: connectors/fondy/index.md
      - GeoPay: connectors/geopaynet/index.md
      - GlobalMoney: connectors/globalmoney/index.md
      - ING Bank Poland: connectors/ingbankpl/index.md
      - Interkassa: connectors/interkassa/index.md
      - Leogaming: connectors/leogaming/index.md
      - LiqPay: connectors/liqpay/index.md
      #-MaxPay: connectors/maxpay/index.md
      #- MoneyMovers: connectors/moneymovers/index.md
      - Neteller: connectors/neteller/index.md
      - Parimatch: connectors/parimatch/index.md
      - PayBox: connectors/paybox/index.md
      - Payeer: connectors/payeer/index.md
      - PayLink: connectors/paylink/index.md
      - PayMega: connectors/paymega/index.md
      - PayMega.io: connectors/paymegaio/index.md
      - PaymentCenter: connectors/paymentcenter/index.md   
      #- Payoneer: connectors/payoneer/index.md
      - PayPal: connectors/paypal/index.md
      - PaySec: connectors/paysec/index.md
      - PerfectMoney: connectors/perfectmoney/index.md
      - Piastrix: connectors/piastrix/index.md
      - SatchelPay: connectors/satchelpay/index.md
      #- Safecharge: connectors/safecharge/index.md
      - Skrill: connectors/skrill/index.md
      - Tranzzo: connectors/tranzzo/index.md
      - Wirecapital: connectors/wirecapital/index.md
      - Xpay: connectors/xpayua/index.md
- Release notes: 
    - Overview: release-notes/index.md
    - v0.59 (15/04/2019): release-notes/v0.59.md
    - v0.58 (23/03/2019): release-notes/v0.58.md
    - v0.57 (11/03/2019): release-notes/v0.57.md
    - v0.56 (05/03/2019): release-notes/v0.56.md