# Project information
site_name: 'Paycore.io Developer Docs'
site_description: 'PayCore.io public documentation'
site_author: 'PayCore.io (c)'
site_url: https://docs.paycore.io/

# Repository
#repo_name: 'paycoreio/docs'
#repo_url: 'https://github.com/paycoreio/docs/'

# Copyright
copyright: '© 2017-2020 PayCore.io<sup>®</sup>. All Rights Reserved. <a href ="https://paycore.io/legal/" target="_blank" rel="noopener">Privacy & Terms.</a>'

# Configuration
theme:
  name: 'material'
  custom_dir: theme
  favicon: images/favicon.svg
  icon:
    logo: favicon
  palette:
    scheme: default
    primary: black
    accent: indigo
  features:
    - navigation.tabs
    - navigation.instant
  font:
    text: Roboto
    code: Roboto Mono 
  language: 'en'
  include_search_page: false
  search_index_only: true

    # 404 page
  static_templates:
    - 404.html

# Plugins
plugins:
  - minify:
      minify_html: true
  - search:
      separator: '[\s\-\.]+'
      lang:
        - en   
  - macros
  - markdownextradata: {}

# Customization
extra:
  social:
    - icon: fontawesome/brands/facebook-f
      link: 'https://facebook.com/paycore.io/'
    - icon: fontawesome/brands/twitter
      link: 'https://twitter.com/paycoreio'
    - icon: fontawesome/brands/linkedin-in
      link: 'https://www.linkedin.com/company/paycore/'
    - icon: fontawesome/brands/github-alt
      link: 'https://github.com/paycoreio'
  custom:
    docs_base_url: ""
    company_name: "PayCore.io"
    pay_domain: "https://com.paycore.io"
    website_url: "https://paycore.io/"
    support_url: "https://support.paycore.io/"
    support_email: "support@paycore.io"
    dashboard_base_url: "https://dashboard.paycore.io/"
    redoc_base_url: "https://apidoc.paycore.io/"
    swagger_base_url: "https://swagger.paycore.io/"

extra_css:
  - extra.css
extra_javascript:
  - scripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  #- 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
  #- 'https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js'
  #- 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'
  #- 'https://cdnjs.cloudflare.com/ajax/libs/js-sequence-diagrams/1.0.6/sequence-diagram-min.js'
  #- 'https://cdnjs.cloudflare.com/ajax/libs/flowchart/1.6.5/flowchart.min.js'

# Google Analytics
google_analytics:
  - 'UA-72023338-4'
  - 'auto'

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
      toc_depth: 4
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic:
      mode: view
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences: 
        - name: flow
          class: uml-flowchart
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: sequence
          class: uml-sequence-diagram
          format: !!python/name:pymdownx.superfences.fence_code_format  
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.magiclink:
      hide_protocol: true
      repo_url_shortener: true
      repo_url_shorthand: true
      user: paycoreio
      repo: docs

# Navigation
nav:
- Getting started:
    - Introduction: index.md
    - Platform overview: getting-started/platform-overview.md
    - Setting up account: getting-started/setting-up-account.md
    - First payment & payout: getting-started/first-payment.md
    # - Play with API: getting-started/play-with-api.md
    - FAQ: getting-started/faq.md
    - Glossary: getting-started/glossary.md
- Products:
    - Overview: products/index.md
    - Dashboard: products/dashboard/index.md
    - Account:
        - Overview: products/account/index.md
        - User Account: products/account/user-account.md
        - Security: products/account/security.md
        - Access Control: products/account/access-control.md
        - Customers: products/account/customers.md
        - Activity Log: products/account/activity-log.md
    - Provider Hub: 
        - Introduction: products/provider-hub/index.md
        - Basic Concepts: products/provider-hub/basic-concepts.md
        - Accounts Hierarchy: products/provider-hub/accounts-hierarchy.md
        - Managing Accounts: products/provider-hub/managing-accounts.md
    - Commerce:
        - Overview: products/commerce/index.md
        - Basic Concepts: products/commerce/basic-concepts.md
        - Commerce Accounts: products/commerce/commerce-account.md
        #- Commerce Schemes: products/commerce/commerce-scheme.md
        - Currency Accounts: products/commerce/currency-account.md
        - Managing Payments: products/commerce/managing-payments.md
        - Managing Payouts: products/commerce/managing-payouts.md
        - Payment Invoice: products/commerce/payment-invoice.md
        - Payout Invoice: products/commerce/payout-invoice.md
        #- Calculating Fees: products/commerce/calculating-fees.md
    - Payment Gateway:
        - Overview: products/payment-gateway/index.md
        - Basic Concepts: products/payment-gateway/basic-concepts.md
        - Managing Payments: products/payment-gateway/managing-payments.md
        - Managing Routing: products/payment-gateway/managing-routing.md
        - Payment Workflow: products/payment-gateway/payment-workflow.md
        - Payment Request Workflow: products/payment-gateway/payment-request-workflow.md
    - Payout Gateway:
        - Overview: products/payout-gateway/index.md
        - Basic Concepts: products/payout-gateway/basic-concepts.md
        - Managing Payouts: products/payout-gateway/managing-payouts.md
        - Managing Routing: products/payout-gateway/managing-routing.md
        - Payout Schemes: products/payout-gateway/payout-schemes.md
        - Payout Workflow: products/payout-gateway/payout-workflow.md
        - Payout Request Workflow: products/payout-gateway/payout-request-workflow.md
        - Batch Payouts: products/batch-payouts/index.md
    - Hosted Payment Page:
        - Introduction: products/hpp/index.md
        #- Features: products/hpp/features.md
        - Quickstart: products/hpp/quickstart.md
        - Full Reference: products/hpp/reference.md
        - Integration Overview: products/hpp/integration-overview.md
        - Pages & Samples: products/hpp/samples.md
        #- Integration Methods: products/hpp/integration-methods.md
        #- Customization: products/hpp/customization.md
        - Troubleshoot: products/hpp/troubleshoot.md
        #- Sandbox: products/hpp/sandbox.md
        #- FAQ: products/hpp/faq.md
        #- Self-hosted payment page: products/hpp/self-hpp.md        
    #- Ledger: products/ledger/index.md        
    #- Batch Payouts: products/batch-payouts/index.md
    - FX Rates:
        - Overview: products/fx-rates/index.md
        - How To: products/fx-rates/how-to.md
    #- Ledger: 
    #    - Overview: products/ledger/index.md        
    #- Merchant Portal:
    #    - Overview: products/merchant-portal/index.md
    - Analytics:
        - Overview: products/analytics/index.md
        - Getting Started: products/analytics/getting-started.md
        - Managing Queries: products/analytics/managing-queries.md
        - Managing Dashboards: products/analytics/managing-dashboards.md
        - Managing Alerts: products/analytics/managing-alerts.md
        - Visualizations: products/analytics/visualizations.md
        - FAQ: products/analytics/faq.md
- Integration: 
    - Integrate with PayCore.io: integration/index.md
    - Accept Payments: integration/accept-payments.md
    - Payment Methods:
        - Google Pay: integration/payment-methods/google-pay.md
    - Make Payouts: integration/make-payouts.md
    - API References: integration/api-references.md
    - SDKs:
        - Overview: integration/sdks.md
        - PublicApiClient.js: integration/public-api-client-js.md
        - Postman Collections: integration/postman-collections.md
    - Callbacks: integration/callbacks.md
    - Security:
        - Security Recommendations: integration/security-recommendations.md
        - PCI Compliance: integration/pci-dss-overview.md
    - Testing: integration/testing.md
    - Public IPs: integration/ips.md
- Connectors:
    - Overview: connectors/index.md
    - Test:
        - Test Connector: connectors/test/index.md
        - Test Card Payments: connectors/test/test-card-numbers.md
    - Manual: connectors/manual/index.md
      #- AustralPay: connectors/australpay/index.md
      #- CoinPayments:connectors/coinpayments/index.md
      #- Enfins: connectors/enfins/index.md
      #- MoneyMovers: connectors/moneymovers/index.md
      #- Payoneer: connectors/payoneer/index.md
      #- 123x: connectors/123x/index.md
    - 4bill: connectors/4bill/index.md
    - Accentpay: connectors/accentpay/index.md
    - ADgroup: connectors/adgroup/index.md
    - AdvCash: connectors/advcash/index.md
    - Alfa Bank: connectors/alfabank/index.md
    - AnyCash: connectors/anycash/index.md
    - Any.Money: connectors/anymoney/index.md
    - Axcess Merchant Services: connectors/axcessmerchantservices/index.md
    - Bank Onego: connectors/bankonego/index.md
    - Billline: connectors/billline/index.md
    - CardGate: connectors/cardgate/index.md
    - CardPay: connectors/cardpay/index.md
    - Cashfree: connectors/cashfree/index.md
    - Cauri: connectors/cauri/index.md
    - Certus Finance: connectors/certusfinance/index.md
    - CoinGate: connectors/coingate/index.md
    - CoinsPaid: connectors/coinspaid/index.md      
    - ComInBank: connectors/cib/index.md
    - Concord Bank: connectors/concord/index.md
    - Connectum: connectors/connectum/index.md
    - CrossPay: connectors/crosspay/index.md
    - Cypix: connectors/cypix/index.md
    - Decta: connectors/decta/index.md
    - dLocal: connectors/dlocal/index.md
    - Dotpay: connectors/dotpay/index.md
    - EasyBits.io: connectors/easybits/index.md
    - Ecobanq: connectors/ecobanq/index.md
    - ECommPay: connectors/ecommpay/index.md
    - Ecopayz: connectors/ecopayz/index.md
    - ePay: connectors/epay/index.md
    - Exactly: connectors/exactly/index.md
    - FlashPay: connectors/flashpay/index.md
    - Fondy: connectors/fondy/index.md
    - Forward Bank: connectors/forwardbank/index.md
    - Genome: connectors/genome/index.md
    - GeoPay: connectors/geopaynet/index.md
    - GlobalMoney: connectors/globalmoney/index.md
    - HashConnect: connectors/hashconnect/index.md
    - Ibox Bank: connectors/iboxbank/index.md
    - ING Bank Poland: connectors/ingbankpl/index.md
    - Interkassa: connectors/interkassa/index.md
    - IPayTotal: connectors/ipaytotal/index.md
    - Klarna: connectors/klarna/index.md
    - Kuna: connectors/kuna/index.md
    - Leogaming: connectors/leogaming/index.md
    - LiqPay: connectors/liqpay/index.md
    - MaxPay: connectors/maxpay/index.md
    - Mercuryo: connectors/mercuryo/index.md
    - Mine.Exchange: connectors/mineexchange/index.md
    - MuchBetter: connectors/muchbetter/index.md
    - Neteller: connectors/neteller/index.md
    - Odysseq: connectors/odysseq/index.md
    - Offsetpay: connectors/offsetpay/index.md
    - Parimatch: connectors/parimatch/index.md
    - PayBox: connectors/paybox/index.md      
    - Payeer: connectors/payeer/index.md
    - PayLink: connectors/paylink/index.md
    - Paylogic: connectors/paylogic/index.md
      #- PayMega.eu: connectors/paymega/index.md
    - PayMega.io: connectors/paymegaio/index.md
    - PaymentCenter: connectors/paymentcenter/index.md
    - Paymentwall: connectors/paymentwall/index.md   
    - PayPal: connectors/paypal/index.md
    - Paysafe: connectors/paysafe/index.md
    - paysafecard: connectors/paysafecard/index.md
    - Paysage.io: connectors/paysage/index.md
    - PaySec: connectors/paysec/index.md
    - PaySoft: connectors/paysoft/index.md
    - PerfectMoney: connectors/perfectmoney/index.md
    - Piastrix: connectors/piastrix/index.md
    - Pivdenny Bank: connectors/pivdennybank/index.md
    - Platio: connectors/platio/index.md
    - Portmone.com: connectors/portmone/index.md
    - Procard: connectors/procard/index.md
    - Raiffeisen Bank: connectors/raiffeisenbank/index.md
    - Rapyd.net: connectors/rapyd/index.md
    - RBK Money: connectors/rbkmoney/index.md
    - Royal Pay: connectors/royalpay/index.md
    - Russian Standard Bank: connectors/russianstandardbank/index.md
    - SafeCharge: connectors/safecharge/index.md
    - SatchelPay: connectors/satchelpay/index.md
    - Selcom: connectors/selcom/index.md     
    - Skrill: connectors/skrill/index.md
    - Stripe: connectors/stripe/index.md   
    - TKB pay: connectors/tkbpay/index.md
    - tome: connectors/tome/index.md
    - TransferHub: connectors/transferhub/index.md
    - Tranzzo: connectors/tranzzo/index.md
      #- Twelve.live: connectors/twelvelive/index.md
    - UAPay: connectors/uapay/index.md
    - UKRGASBANK: connectors/ukrgasbank/index.md
    - VCreditos: connectors/vcreditos/index.md
    - WinPay: connectors/winpay/index.md
    - Wirecapital: connectors/wirecapital/index.md
    - Wirecard: connectors/wirecard/index.md
    - WonderlandPay: connectors/wlandpay/index.md
    - WPayments: connectors/wpayments/index.md
    - xpate: connectors/xpate/index.md
    - Xpay: connectors/xpayua/index.md
    - Zotapay: connectors/zotapay/index.md
- Changelog: 
    - Overview: release-notes/index.md
    - February 6, 2021 (1.29-1.36): release-notes/v1.36-1.29.md
    - January 5, 2021 (1.28): release-notes/v1.28.md
    - 2020:
        - Overview: release-notes/archive/2020/index.md
        - v1.27 (22/12/2020): release-notes/archive/2020/v1.27.md
        - v1.26 (08/12/2020): release-notes/archive/2020/v1.26.md
        - v1.25 (24/11/2020): release-notes/archive/2020/v1.25.md
        - v1.24 (10/11/2020): release-notes/archive/2020/v1.24.md
        - v1.23 (27/10/2020): release-notes/archive/2020/v1.23.md
        - v1.22 (16/10/2020): release-notes/archive/2020/v1.22.md
        - v1.21 (30/09/2020): release-notes/archive/2020/v1.21.md
        - v1.20 (15/09/2020): release-notes/archive/2020/v1.20.md
        - v1.19 (01/09/2020): release-notes/archive/2020/v1.19.md
        - v1.18 (18/08/2020): release-notes/archive/2020/v1.18.md
        - v1.17 (04/08/2020): release-notes/archive/2020/v1.17.md
        - v1.16 (07/07/2020): release-notes/archive/2020/v1.16.md
        - v1.15 (23/06/2020): release-notes/archive/2020/v1.15.md
        - v1.14 (09/06/2020): release-notes/archive/2020/v1.14.md
        - v1.13 (14/05/2020): release-notes/archive/2020/v1.13.md
        - v1.12 (10/04/2020): release-notes/archive/2020/v1.12.md
        - v1.11 (25/03/2020): release-notes/archive/2020/v1.11.md
        - v1.10 (11/03/2020): release-notes/archive/2020/v1.10.md
        - v1.9 (28/02/2020): release-notes/archive/2020/v1.9.md
        - v1.8.5 (21/02/2020): release-notes/archive/2020/v1.8.5.md
        - v1.8.0 (14/02/2020): release-notes/archive/2020/v1.8.0.md
        - v1.7.6 (07/02/2020): release-notes/archive/2020/v1.7.6.md
        - v1.7.1 (31/01/2020): release-notes/archive/2020/v1.7.1.md
        - v1.6.12 (24/01/2020): release-notes/archive/2020/v1.6.12.md
        - v1.6.1 (17/01/2020): release-notes/archive/2020/v1.6.1.md
        - v1.5.21 (10/01/2020): release-notes/archive/2020/v1.5.21.md
    - 2019:
        - Overview: release-notes/archive/2019/index.md
        - v1.5.16 (27/12/2019): release-notes/archive/2019/v1.5.16.md
        - v1.5.6 (20/12/2019): release-notes/archive/2019/v1.5.6.md
        - v1.5.2 (13/12/2019): release-notes/archive/2019/v1.5.2.md
        - v1.5 (06/12/2019): release-notes/archive/2019/v1.5.md
        - v1.4.8 (22/11/2019): release-notes/archive/2019/v1.4.8.md
        - v1.4.4 (15/11/2019): release-notes/archive/2019/v1.4.4.md
        - v1.4.2 (08/11/2019): release-notes/archive/2019/v1.4.2.md
        - v1.3.21 (01/11/2019): release-notes/archive/2019/v1.3.21.md
        - v1.3.17 (25/10/2019): release-notes/archive/2019/v1.3.17.md
        - v1.3.14 (18/10/2019): release-notes/archive/2019/v1.3.14.md
        - v1.3.12 (11/10/2019): release-notes/archive/2019/v1.3.12.md
        - v1.3.9 (04/10/2019): release-notes/archive/2019/v1.3.9.md
        - v1.3.4 (27/09/2019): release-notes/archive/2019/v1.3.4.md
        - v1.1.0 (20/09/2019): release-notes/archive/2019/v1.1.0.md
        - v1.0 (13/09/2019): release-notes/archive/2019/v1.0.md
        - v0.61.5 (06/09/2019): release-notes/archive/2019/v0.61.5.md
        - v0.60.41 (30/08/2019): release-notes/archive/2019/v0.60.41.md
        - v0.60.37 (23/08/2019): release-notes/archive/2019/v0.60.37.md
        - v0.60.30 (16/08/2019): release-notes/archive/2019/v0.60.30.md
        - v0.60.25 (09/08/2019): release-notes/archive/2019/v0.60.25.md
        - v0.60 (01/07/2019): release-notes/archive/2019/v0.60.md
        - v0.59 (15/04/2019): release-notes/archive/2019/v0.59.md
        - v0.58 (23/03/2019): release-notes/archive/2019/v0.58.md
        - v0.57 (11/03/2019): release-notes/archive/2019/v0.57.md
        - v0.56 (05/03/2019): release-notes/archive/2019/v0.56.md