{% set class = "md-tabs" %}
{% if page.ancestors | length > 0 %}
  {% set class = "md-tabs md-tabs--active" %}
{% endif %}
<nav class="{{ class }}" data-md-component="tabs">
  <div class="md-tabs__inner md-grid">
    <ul class="md-tabs__list">
      {% for nav_item in nav %}
        {% include "partials/tabs-item.html" %}
      {% endfor %}
      <li class="md-tabs__item">
        <a href="https://redoc.paycore.io/" title="Open Full API Reference" class="md-tabs__link" target="_blank">
            <i class="md-icon">launch</i>
            Full API Reference
        </a>
      </li>    
      <li class="md-tabs__item">
        <a href="https://swagger.paycore.io/" title="Open API Swagger" class="md-tabs__link" target="_blank">
            <i class="md-icon">launch</i>
            Swagger
        </a>
      </li>    
    </ul>
    </div>
</nav>