@charset "UTF-8";

.md-typeset code {
    word-break:normal;
}
/*
.md-typeset .magiclink:before{position:relative;padding-right:.25rem;font-family:FontAwesome;-moz-osx-font-smoothing:initial;-webkit-font-smoothing:initial;font-weight:400}.md-typeset .magiclink-repository.magiclink-github:before{content:""}.md-typeset .magiclink-repository.magiclink-gitlab:before{content:""}.md-typeset .magiclink-repository.magiclink-bitbucket:before{content:""}.md-typeset {}
*/
img[src*='#w40'] {
    width: 40px;
}
img[src*='#w24'] {
    width: 24px;
}
img[src*='#w100'] {
    width: 100px;
}
img[src*='#w200'] {
    width: 200px;
}

/* HPP Sample */
.hpp_container {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    box-shadow: 0 8px 20px 4px rgba(128, 128, 128, 0.56);
    display:flex;
    justify-content: center;
    border-radius: 10px;        
    overflow: hidden;
}

.hpp_container iframe {
    border-radius: 10px;        
}

/* crutch fix for navigation tabs list */

.md-tabs {
    font-size: 1.2em;
    max-height: 3.6em;
    padding-top: 1em;
}